/* imports */
/* variables */
:root {
  --back: #f2f3f7;
  --body-text: #2e3532;
  --primary-yellow: #f5e269;
  --grey: #7a808c;
}
html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--back);
  font-family: "Outfit", sans-serif;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--back);
  margin: 2rem 6rem;
}

header ul {
  display: flex;
  justify-content: right;
  gap: 1.5em;
}

header ul li {
  list-style: none;
  cursor: pointer;
}

header ul li a,
header h1 {
  text-decoration: none;
  color: #7a808c;
  font-size: 1.2rem;
  font-weight: 700;
}

/* code nav burger */
/*
nav ul {
  position: fixed;
  top: 4rem;
  right: -100%;
  background-color: var(--primary-yellow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  width: 100%;
  min-height: 100vh;
  z-index: 1;
  transition: all 1s;
}

nav ul li {
  list-style: none;
  cursor: pointer;
  transition: all 0.3s;
}

nav ul li a {
  text-decoration: none;
  color: var(--body-text);
  font-size: 1rem;
  font-weight: 700;
  transition: all 0.3s;
}

nav ul li a:focus,
nav ul li a:hover {
  color: var(--back);
}

.menu-burger div {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: var(--body-text);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.6s ease;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.show-menu {
  right: 0;
}
.no-move {
  overflow: hidden;
} */
.menu-burger {
  display: none;
}

/* Home */
.home__section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 80vh;
  margin: 2rem 6rem;
}
.home__section-text {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.home__section-text h2 {
  font-size: 5.4rem;
  color: var(--body-text);
}
.home__section-text p {
  font-size: 1.1rem;
  color: var(--body-text);
}
.btn__container {
  display: flex;
  gap: 2rem;
}
.btn-contactar,
.btn-mas {
  text-decoration: none;
  color: var(--body-text);
  font-weight: 700;
  font-size: 1rem;
  line-height: 1rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  border: none;
  border-radius: 2rem;
  background-color: #f5e269;
  /* box-shadow: 5px 5px 10px #d0d1d4, -5px -5px 10px #ffffff; */
  filter: drop-shadow(-6px -4px 6px #ffffff) drop-shadow(-2px -2px 2px #ffffff)
    drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.25))
    drop-shadow(5px 5px 7px rgba(0, 0, 0, 0.25));
  width: fit-content;
}
.btn-mas {
  background-color: #f2f3f7;
}
.home__section-img img {
  width: 100%;
}

/*Nosotros*/

/*Servicios*/
.servicios__section {
  margin: 6rem;
}
.section__titles {
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 2;
  letter-spacing: 0.2em;
  color: var(--body-text);
  margin: 3rem 0;
}
.servicios__container {
  display: flex;
  justify-content: space-between;
}
.servicio {
  background-color: #f5e269;
  box-shadow: -6px -4px 6px #ffffff, -2px -2px 2px #ffffff,
    1px 1px 2px rgba(0, 0, 0, 0.25), 5px 5px 7px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  width: 23rem;
  height: 23rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.servicio h3 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.4;
  letter-spacing: 0.2rem;
  margin-left: 4rem;
  color: var(--body-text);
}
.servicio i {
  position: absolute;
  bottom: 2rem;
  left: 4rem;
  font-size: 1.5rem;
  color: var(--body-text);
  cursor: pointer;
  transition: 0.3s;
}
.servicio i:hover {
  transform: translateX(0.25rem);
}

/*Trabajos*/
.trabajos__section {
  margin: 6rem;
}
.trabajo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2.5rem;
  background-color: #f2f3f7;
  border-radius: 1.25rem;
  filter: drop-shadow(-6px -4px 6px #ffffff) drop-shadow(-2px -2px 2px #ffffff)
    drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.25))
    drop-shadow(5px 5px 7px rgba(0, 0, 0, 0.25));
  padding: 3.5rem;
}
.trabajo-text__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.trabajo-text__container h3 {
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: 0.2rem;
  color: var(--grey);
}
.trabajo-text__container h3 span {
  font-size: 2.5rem;
  margin-right: 0.5rem;
}
.trabajo-text__container p {
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.3rem;
  color: var(--body-text);
}
.btn-trabajos {
  padding: 1.5rem 5.5rem;
}
.trabajo-img__container img {
  width: 100%;
}

.nosotros__section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  gap: 100px;
}
.div1 {
  height: 300px;
  width: 600px;
  padding: 3rem;
  /* border-radius: 50px;
  background: var(--back);
  box-shadow: 5px 5px 10px #b9babd, -5px -5px 10px #f5f6fb; */
}
.div1 h2 {
  font-size: 1.2rem;
  font-weight: 800;
  text-transform: uppercase;
}
.div1 h3 {
  font-size: 3rem;
  padding: 1rem 0;
}
.div2 {
  height: 300px;
  width: 600px;
  padding: 3rem;
  /* border-radius: 50px;
  background: var(--back);
  box-shadow: 5px 5px 10px #b9babd, -5px -5px 10px #f5f6fb; */
}
.div2 ul {
  padding-top: 1rem;
  line-height: 1rem;
}

.div2 ul li {
  list-style: none;
  padding: 0.8rem 0;
  font-weight: 900;
}
.div2 ul li span {
  font-size: 1rem;
  font-weight: 100;
  text-transform: uppercase;
  padding-left: 1rem;
}
